# Feature Previews

To allow for more experimental features to be added into the provider, 
a feature can be added behind a preview gate that defaults to being off and requires a user to opt into the change.
Once a feature has been added into the provider, in can be set to globally available which will default to the feature being on by default.

There is an opportunity for the user to opt out of a globally available feature if an issue is experienced.
If that is the case, please raise a support case with the provider configuration and any error messages.

The feature preview can be enabled by the following example:

```hcl
provider "signalfx" {
  # Other configured values
  feature_preview = {
    "feature-01": true,  // True means that the feature is enabled
    "feature-02": false, // False means that the feature is explicitly disabled
  }
}
```

| Preview Key | Introduced Version | Globally Available |  Description |
| ----------  | ------------------ |  ----------------- | ------------ | 
{{- range $name, $preview := .features }}
| `{{ $name }}`  | `{{ $preview.Introduced }}` | {{ $preview.GlobalAvailable | printf "%v" }} | {{ $preview.Description }} |
{{- end }}
